<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <title>Book Details</title>
</head>
<body>
  <header>
    <h1>Online Library - Book Details</h1>
  </header>
  <div class="container">
    <div class="title" style="word-wrap: break-word">{{ book['title'] }}</div>
    <div class="meta">Published: {{ book['year'] }}</div>
    <div class="tag-group">
      <strong>Author(s):</strong>
      <span class="tag">{{ book['author'] }}</span>
    </div>

    <div class="tag-group">
      <strong>Genres:</strong>
      {% for genre in book['genres'] %}
      <span class="tag">{{ genre }}</span>
      {% endfor %}
    </div>
    <div class="tag-group">
      <Strong>Availability:</strong>
      {% if available < 0 %}
      <span class="tag" style="background-color: #f8d7da; color: #721c24;">
        Not Carried
      </span>
      {% elif available == 0 %}
      <span class="tag" style="background-color: #f8d7da; color: #721c24;">
        Waitlisted
      </span>
      {% elif available == 1 %}
      <span class="tag" style="background-color: #fff3cd; color: #856404;">
        1 Copy Remaining
      </span>
      {% else %}
      <span class="tag" style="background-color: #d4edda; color: #155724;">
        {{ available }} Copies Available
      </span>
      {% endif %}
    </div>
    <strong>Description:</strong>
    <div class="description">
      <p>
        {{ book['synopsis'] }}
      </p>
    </div>
    <div class="actions">
      {% if available == 0 %}
      <a href="{{url_for('checkout',isbn=book['ISBN'])}}">Join Waitlist</a>
      {% elif available > 0 %}
      <a href="{{url_for('checkout',isbn=book['ISBN'])}}">Checkout Book</a>
      {% endif %}
    </div>
    <div class="actions">
      <a href="{{ url_for('rateBook', isbn=book['ISBN']) }}">Rate Book</a>
    </div>
    {% if librarian %}
    <div class="actions">
      <a href="{{ url_for('editBook',isbn=book['ISBN']) }}">Edit Book</a>
    </div>
    {% endif %}
    <div class="actions">
      <a href="{{ url_for('browse') }}">Resume Browsing</a>
    </div>
  </div>
  
</body>
</html>
