<!-- browse.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Browse Books</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
    <h1>Online Library - Browse Books</h1>
  </header>
  <!-- BACK BUTTON ---------------------------------------------------------->
  <div class="back-button-container">
  <a class="back-button" href="index">← Back to Home</a>
  </div>
  <!-- SEARCH BAR ----------------------------------------------------------->
  <div class="search-container">
  <form action="" method="GET" class="search-form">
    <input type="text" name="title" placeholder="Search by title..."
           class="search-input" />
    <input type="text" name="author" placeholder="Author"
           class="filter-input" />
    <select name="genre" class="filter-input">
      <option value="">All Genres</option>
      {% for genre in genres %}
      <option value="{{ genre }}">{{ genre }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="search-button">Search</button>
  </form>
  </div>
  <!-- BOOKS ---------------------------------------------------------------->
  <div class="container grid">
    {% if books %}
    {% for book in books %}
    <div class="book-card">
      <div class="book-title">{{ book['title'] }} </div>
      <div class="book-author">{{ book['author'] }} </div>
      <a class="info-button"
         href="{{ url_for('book', isbn=book['ISBN']) }}">More Info</a>
    </div>
    {% endfor %}
    {% else %}
    No Search Results...
    {% endif %}
  </div>
</body>
</html>
