<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Confirm Checkout</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
    <h1>Confirm Checkout</h1>
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == "Error" %}
  <div class="error-box" style="top:40%;">
    <span class="close-btn" onclick="closeBox(this)">×</span>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

  <script>
    function closeBox(button)
    {
        var box = button.parentElement;
        box.style.display = "none"; // Hide the error box
    }
  </script>
  
  
  <div class="container">
    <div class="section">
      <h2 class="title">Book Information</h2>
      <p><strong>Title:</strong> <span class="book-title">{{ book['title'] }}</span></p>
      <p><strong>Author:</strong> <span class="book-author">{{ book['author'] }}</span></p>
      <p><strong>ISBN:</strong> {{ book['ISBN'] }}</p>
    </div>

    <div class="section">
      <h2 class="title">Checkout Details</h2>
      <p><strong>Date:</strong> {{ date }}</p>
      <p><strong>Due:</strong> {{ due }}</p>
      <p><strong>Number of Renewals:</strong> {{ renews }}</p>
      <p><strong>Renewal Length:</strong> {{ renew_len }}</p>
    </div>
    <div class="actions">
       <a href="{{url_for('browse',isbn=book['ISBN'])}}">Back to Browse</a>
     </div>    
  </div>
</body>
</html>
