<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Online Library - Home</title>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
    <h1>Welcome to the Online Library</h1>
  </header>

  <div class="button-row">
    <a class="nav-button" href="browse">Browse Books</a>
    <a class="nav-button" href="logout">Logout</a>
    <a class="nav-button" href="#">View Checked Out Books </a>
    <!-- Add more buttons here -->
  </div>
  <!-- Put other features here: recommended books, newly added books, etc-->
</body>
</html>
