<!-- login.html -->
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
  <h1> Login </h1> <br>
  </header>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == "Error" %}
  <div class="error-box">
    <span class="close-btn" onclick="closeErrorBox(this)">×</span>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  <script>
    // Display all error boxes
    document.querySelectorAll('.error-box').forEach(function(box) {
        box.style.display = "block";
    });

    // Close error box when the close button is clicked
    function closeErrorBox(button) {
        var errorBox = button.parentElement;
        errorBox.style.display = "none"; // Hide the error box
    }
  </script>
  
  <div class="container">
    <form action='' method='POST' class="search-form"
          style="flex-direction: column;
                 max-width: 300px; align-items: stretch;">
      <input type="text" name="username" placeholder="Username..."
             class="search-input" />
      <input type="password" name="password" placeholder="Password..."
             class="search-input" />
      <button type='submit' class="search-button">Go</button>
      <a href="register" class="search-button"
         style="text-align: center;">Register</a>
    </form>
  </div>
</body>
</html>
