<!-- login.html -->
<html>
  <body>
    <h1> Login </h1> <br>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {{ category }}: {{ message }} <br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form action='' method='post'>
    <div style="display: flex; flex-direction: column; width: 200px;">
    Username: <input type='text' name='username'/> <br>
    Password: <input type='text' name='password'/> <br>
    </div>
    <div style='height:5px;'> <br> </div>
    <input type='submit' value='Go'> <br>
    </form> 
    Not a member? Register <a href="register">here</a>! <br>
  </body>
<html>
