<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
  <header>
  <h1> Rating: {{ title }} </h1> <br>
  </header>
  
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == "Error" %}
  <div class="error-box">
    <span class="close-btn" onclick="closeErrorBox(this)">×</span>
    <p>{{ message }}</p>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  <script>
    // Display all error boxes
    document.querySelectorAll('.error-box').forEach(function(box) {
        box.style.display = "block";
    });

    // Close error box when the close button is clicked
    function closeErrorBox(button) {
        var errorBox = button.parentElement;
        errorBox.style.display = "none"; // Hide the error box
    }
  </script>
  <div class="container">
    <form action='' method='POST' class="search-form"
          style="flex-direction: column;
                 max-width: 300px; align-items: stretch;">
      <input type="hidden" name='isbn' value={{ isbn }} />
      <input type="hidden" name='title' value={{ title }} />
      <input type="number" name="stars" min="0" max="5"
             placeholder="{{ rating['stars'] }}" required
             class="search-input"/>
      <input class="search-input" type='text' name='comment'
             placeholder="{{ rating['comment'] }}" />
      <button type='submit' class="search-button">Rate</button>
      <a href="{{url_for('book',isbn=isbn)}}" class="search-button"
         style="text-align: center;">Back to Book</a>
    </form>
  </div>
</body>
</html>
