<!-- validateRetry.html -->
<html>
  <body>
    <h1>Validate</h1> <br>
    <form action='validateRequest' method='post'>
    That was the incorrect code, please enter the code we have sent to your email below. <br>
    If you would like to cancel, leave the code blank.
    <div style="display: flex; flex-direction: column; width: 200px;">
    Validation Code: <input type='text' name='valcode'/> <br>
    </div>
    <div style='height:5px;'> <br> </div>
    <input type='submit' value='Go'>    
  </body>
</html>
